<div class="nav-menu">

    <span>Contenido Actualizado: @DateTime.Now.ToString()</span>
    <br>
    <div>
        <a class="contactlinkjquery" href="/AllInOne/Index">Inicio</a>
    </div>

    <div>
        <a class="contactlinkjquery" href="/AllInOne/Info">Información</a>
    </div>
    <div>
        <a class="contactlinkjquery" href="/AllInOne/Contact">Contacto</a>
    </div>
</div>
<div style="clear:both;"></div>