<div class="nav-menu">
    <span>Contenido Actualizado: @DateTime.Now.ToString()</span>
    <br>
    <div>
        <a class="contactlink" href="/CargarParciales/CenterAsPartial/Index">Inicio</a>
       
    </div>

    <div>
        <a class="contactlink" href="/CargarParciales/CenterAsPartial/Info">Información</a>
      
    </div>
    <div>
        <a class="contactlink" href="/CargarParciales/CenterAsPartial/Contact">Contacto</a>
  
    </div>
</div>
<div style="clear:both;"></div>