<div class="nav-menu">
    <div>
        @Html.ActionLink("Inicio", "Index", "Home")
    </div>

    <div>
        @Html.ActionLink("Información", "Info", "Home")
    </div>
    <div>
        @Html.ActionLink("Contacto", "Contact", "Home")
    </div>
</div>
<div style="clear:both;"></div>