body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.mainlink {
    float: left;
    display: block;
    margin: 5px;
    background-color: #ccc;
}

.mainlink {
    float: left;
    display: block;
    margin: 5px;
    background-color: #ccc;

}

    .mainlink a {
        color: black;
        padding: 10px;
        text-decoration: none;
        font-size:18px;

    }

.nav-menu {
   
  margin-top:10px;
}
    .nav-menu div {
         background-color:#1a18ef;
      float: left;
      border:solid 2px #fee;
    }

    .nav-menu a {
        color: #fee;
        padding: 10px;
        text-decoration: none;
          font-size:16px;
    }
.main-content {margin-top:10px;
background-color: #C8C;
 width:600px;
}